@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Arizonia|Mr+Dafoe');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:'Josefin Sans', sans-serif;
}

:root{
  --mainRed:red;
}